General:
  MinimumPasswordLength: 15
  GitHubAccessToken:
  SetupWizardMode: AutoDetect
  ByondTopicTimeout: 5000
  RestartTimeout: 60000
  ApiPort: 5000
  UseBasicWatchdog: false
  UserLimit: 100
  UserGroupLimit: 25
  InstanceLimit: 10
  ValidInstancePaths:
  HostApiDocumentation: false
FileLogging:
  Directory:
  Disable: false
  LogLevel: Debug
  MicrosoftLogLevel: Warning
Logging:
  IncludeScopes: false
  Debug:
    LogLevel:
      Default: Debug
      Microsoft: Information
  Console:
    LogLevel:
      Default: Trace
      Microsoft: Warning
ControlPanel:
  Enable: false
  AllowAnyOrigin: false
  AllowedOrigins: []
Updates:
  GitHubRepositoryId: 92952846
  GitTagPrefix: tgstation-server-v
  UpdatePackageAssetName: ServerUpdatePackage.zip
Database:
  DropDatabase: false
  DatabaseType: SqlServer
  ResetAdminPassword: false
  ServerVersion:
  ConnectionString: Data Source=(local);Initial Catalog=TGS;Integrated Security=True
Security:
  TokenExpiryMinutes: 15
  TokenClockSkewMinutes: 1
  TokenSigningKeyByteAmount: 256
  CustomTokenSigningKeyBase64:
  OAuth:
    GitHub:
    Discord:
    TGForums:
    Keycloak:
