[Unit]
Description=tgstation-server
After=network.target

[Service]
ExecStart=bash /opt/tgs/tgs.sh
Restart=Always

[Install]
WantedBy=multi-user.target
