*/bin
*/obj

.git
.github
.vs
.vscode
.codecov.yml
.dockerignore
.gitignore
.travis.yml
appveyor.yml
omnisharp.json
README.md
build/package/**
build/ci.runsettings
build/Dockerfile
build/GenerateMigrations.sh
build/OpenApiValidationSettings.json
build/tgstation-server.service
docs
src/DMAPI
src/Tgstation.Server.Host/ClientApp
src/Tgstation.Server.Host/wwwroot
src/Tgstation.Server.Host/appsettings.Development.json
src/Tgstation.Server.Host/appsettings.Development.yml
src/Tgstation.Server.Host/tgs.bat
src/Tgstation.Server.Host/tgs.sh
src/Tgstation.Server.Client
src/Tgstation.Server.Host.Service
tests
tools
artifacts
packaging
