*/bin
*/obj

.git
.github
.vs
.vscode
.codecov.yml
.dockerignore
.gitignore
.travis.yml
appveyor.yml
omnisharp.json
README.md

build/**
!build/analyzers.ruleset
!build/tgs.docker.sh
!build/tgs.ico
!build/tgs.png
!build/stylecop.json
!build/Version.props
!build/ControlPanelVersion.props
!build/Common.props
!build/NugetCommon.props
!build/uac_elevation_manifest.xml
docs
src/DMAPI
src/Tgstation.Server.Host/ClientApp
src/Tgstation.Server.Host/wwwroot
src/Tgstation.Server.Host/appsettings.Development.json
src/Tgstation.Server.Host/appsettings.Development.yml
src/Tgstation.Server.Host/tgs.bat
src/Tgstation.Server.Host/tgs.sh
src/Tgstation.Server.Client
src/Tgstation.Server.Host.Service
tests
tools
artifacts
packaging
