.dockerignore
.git
.github
.gitignore
.vs
.vscode
.travis.yml
.codecov.yml
appveyor.yml
LICENSE
README
build/**
!build/tgs.docker.sh
!build/tgs.ico
*/bin
*/obj
tests
docs
tools
src/DMAPI
src/Tgstation.Server.Host/ClientApp/build
src/Tgstation.Server.Host/ClientApp/node_modules
src/Tgstation.Server.Host/wwwroot
src/Tgstation.Server.Host/appsettings.Development.json
src/Tgstation.Server.Host/tgs.bat
src/Tgstation.Server.Host/tgs.sh
src/Tgstation.Server.Host.Client
src/Tgstation.Server.Host.Service
