[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
charset = utf-8-bom
indent_style = tab
indent_size = 4

[*.{csproj,props,wixproj,xml,wxs,yml}]
indent_style = space
indent_size = 2

[*.{json,md}]
indent_style = tab

[*.dm]
indent_style = tab
indent_size = 4

