[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
charset = utf-8-bom
indent_style = tab
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.props]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.wxs]
indent_style = space
indent_size = 2

[*.wixproj]
indent_style = space
indent_size = 2

[*.dm]
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
