[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
.vs/
.vscode/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
/TestResults
*.dmb
*.int
*.lk
/src/Tgstation.Server.Client.GraphQL/schema.graphql
/src/Tgstation.Server.Host/appsettings.*.json
/src/Tgstation.Server.Host/appsettings.*.yml
/src/Tgstation.Server.Host/wwwroot
/src/Tgstation.Server.Host/--applicationName
/src/Tgstation.Server.Host/ClientApp
/src/Tgstation.Server.Host.Utils.GitLab.GraphQL/.yarn
/src/Tgstation.Server.Host.Utils.GitLab.GraphQL/node_modules
/src/Tgstation.Server.Host.Utils.GitLab.GraphQL/schema.graphql
/tools/Tgstation.Server.ReleaseNotes/release_notes.md
launchSettings.json
release_notes.md
changelog.yml
*nupkg
*.sqlite3
packaging/
yarn-error.log*
.graphqlrc.json
