[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
.vs/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
/TestResults
*.dmb
*.int
*.lk
/src/Tgstation.Server.Host/appsettings.*.json
/src/Tgstation.Server.Host/wwwroot
/src/Tgstation.Server.Host/ClientApp
/tools/ReleaseNotes/release_notes.md
/tools/ReleaseNotes/Properties/launchSettings.json
release_notes.md
*nupkg
*.sqlite3
