[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
.vs/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
/TestResults
/tests/DMAPI/travistester.lk
/tests/DMAPI/travistester.int
/tests/DMAPI/travistester.dmb
/src/Tgstation.Server.Host/appsettings.*.json
/src/Tgstation.Server.Host/wwwroot
/src/Tgstation.Server.Host/ClientApp/node_modules
/src/Tgstation.Server.Host/ClientApp/build
/tools/ReleaseNotes/release_notes.md
/tools/ReleaseNotes/Properties/launchSettings.json
release_notes.md
*nupkg
*.sqlite3
