pull_requests:
  do_not_increment_build_number: true
environment:
  repo_token:
    secure: lJNGAXwiB5HlWdthz3K4PetqpTG5IEAyRgKaiKxFMQ8HW8CcOjRtB97B05op7BsK
skip_branch_with_pr: true
image: Visual Studio 2017
configuration: Release
shallow_clone: true
artifacts:
- path: TGS3-Server-v*.exe
  name: TGS3Server
- path: MD5-SHA1-Server-v*.txt
  name: MD5SHA1Server
- path: TGS3-Client-v*.zip
  name: TGS3Client
- path: MD5-SHA1-Client-v*.txt
  name: MD5SHA1Client
cache:
  - packages -> **\packages.config
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
install:
  - choco install fciv doxygen.portable graphviz.portable opencover.portable codecov
before_build:
  - nuget restore TGStationServer3.sln
build:
  project: TGStationServer3.sln
  parallel: true
  verbosity: minimal
  publish_nuget: true
after_build:
  - ps: .\Tools\TGS3Build.ps1
  - ps: if($env:APPVEYOR_REPO_COMMIT_MESSAGE -match "\[TGSDeploy\]"){$env:TGSDeploy = "Do it."}
  - ps: $env:TGSVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo("$env:APPVEYOR_BUILD_FOLDER/TGServerService/bin/Release/TGServerService.exe").FileVersion
test_script:
  - OpenCover.Console.exe -register:user -target:"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\MSTest.exe" -targetargs:"/testcontainer"".\TGServiceTests\bin\Release\TGServiceTests.dll" -filter:"+[UnitTestTargetProject*]* -[TGServiceTests*]*" -output:".\MyProject_coverage.xml"
  - codecov -f "MyProject_coverage.xml"
deploy:
  - provider: GitHub
    release: "tgstation-server-v$(TGSVersion)"
    description: 'The /tg/station server suite'
    auth_token:
      secure: lJNGAXwiB5HlWdthz3K4PetqpTG5IEAyRgKaiKxFMQ8HW8CcOjRtB97B05op7BsK
    artifact: TGS3Server,MD5SHA1Server,TGS3Client,MD5SHA1Client
    draft: false
    on:
      TGSDeploy: "Do it."
  - provider: NuGet
    api_key:
      secure: bedsYuLMqGREzkVkJqRx+BTMgOvDO76tgaNc8sW5E3Ao6iw8oGHdJ/BZov8y0iKa
    skip_symbols: true
    artifact: /.*\.nupkg/
    on:
      TGSDeploy: "Do it."
