{
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "jsxBracketSameLine": true,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 100
}
