name: Automerge Dependabot

on:
  pull_request_target:
    types: [opened, reopened]
    branches:
      - dev
      - master

concurrency:
  group: "dependabot-automerge-${{ github.head_ref || github.run_id }}-${{ github.event_name }}"
  cancel-in-progress: true

env:
  TGS_DOTNET_VERSION: 8
  TGS_DOTNET_QUALITY: ga

jobs:
  automerge:
    name: Enable Automerge on Dependabot PRs
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.id == 49699333
    steps:
      - name: Generate App Token
        id: app-token-generation
        uses: getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Enable Automerge
        uses: daneden/enable-automerge-action@f8558b65c5b8d8bfb592c4e74e3d491624a38fbd #v1.0.2-ish
        with:
          github-token: ${{ steps.app-token-generation.outputs.token }}
