name: 'Automerge Dependabot'

on:
  pull_request_target:
    types: [ opened, reopened ]
    branches:
    - dev
    - master

concurrency:
  group: "dependabot-automerge-${{ github.head_ref || github.run_id }}-${{ github.event_name }}"
  cancel-in-progress: true

jobs:
  automerge:
    name: Enable Automerge on Dependabot PRs
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.id == 49699333
    steps:
      - name: Enable Automerge
        uses: daneden/enable-automerge-action@f8558b65c5b8d8bfb592c4e74e3d491624a38fbd #v1.0.2-ish
        with:
          github-token: ${{ secrets.DEV_PUSH_TOKEN }}
